.calulatorbody {
    width: 600px;
    margin: auto;
    height: 80vh;
    border: 2px solid black;
    padding: 40px;
    background-color: silver;
}

.screen {
    border: 2px solid red;
    height: 20%;
    margin-bottom: 20px;

    text-align: right;
    background-color: bisque;
}

.screen p {
    color: black;
    font-size: 50px;
}

button {
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: bolder;
    
}

.buttons {
    display: inline-flex;
    flex: row wrap;
    border: 2px none green;
    height: 575px;
    width: auto;
    
    flex-shrink: 3;

}

.operators {
    display: block;
    border: 2px none white;
 

}
.operators button {
    background-color: orange;
}

.last {
    margin-right: auto;
}

.operators button {
    width: 150px;
    height: 100px;

}

#foo {
    height: 250px;
}

#zero {
    width: 458px;
}

#equals {
    width: 304px;
    height: 150px;
    background-color: red;
}

.numbers {
    border: 2px none red;
    max-width: 480px;
 
   display: flexbox;
   justify-content: space-between;


}

.numbers button {

    width: 150px;
    height: 100px;
}

body {
    background-color: grey;
}

.newcontainer {
    border: 2px none red;
    display: inline-flex;
    flex-flow: row wrap;
    gap: 25.2px
}
.newbutton {
    border: none;
border-radius: 50%;
    width: 130px;
    height: 100px;
    background-color: white;
    font-size:30px;
    font-weight: bolder;
    
}

.functions {
    background-color: burlywood;
}

.nums {
    background-color: teal;
}

.grower {
    flex-grow: 1; 
    margin: 0;
}

.operators {
    background-color: orange;
}